header{
    background-color: #f1efef;
    padding: 0.1em;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}


body{
    font-family: 'roboto_normal';
}

a {
    color: black;
}

#me {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

#me img {
    border-radius: 20em;
}

.projects figure{
    transition: transform 0.3s ease-in-out;
}

.projects figure:hover{
    transform: scale(0.9);
}

#myImage{
    background-color: #207d74;
    border-radius: 15em;
    padding: 1em;
}

.projects {
    display: flex;
    position: relative;
    width: auto;
    margin: auto;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-self: center;
}

.projects figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.projects img {
    border-radius: 20em;
}

.timeline{
    margin: 2em;
}
#bac{
    fill: #94f7ee;
}

#iut{
    fill: #40e0d0;
}
#aprenticeship{
    fill: #207d74;
}

main{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.timelineSVG {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsCard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.project {
    border: #207d74 2px solid;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    justify-content: space-around;
}

.project img {
    width: 2.5em;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-items: center;  
    margin: 0.1em;
}

.contact p {
    margin-left: 0.5em;
}


@font-face {

    font-family: 'roboto';
    src: url('polices/Roboto/robotocondensed-bold-webfont.woff2') format('woff2'),
    url('polices/Roboto/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {

    font-family: 'roboto_normal';
    src: url('polices/Roboto/roboto-light-webfont.woff2') format('woff2'),
    url('polices/Roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

