/* ------------------ HEADER ------------------- */

header{
    background-color: #147068;
    padding: 0.1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 2px 5px 0px #207d74;
}

/* Suppression du margin-bottom: 20em car cela casse la mise en page */


/* ------------------ MENU ------------------- */

.menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.menu a:hover {
    text-decoration: underline;
}


/* ------------------ GLOBAL ------------------- */

h1, h2, h3 {
    font-family: 'Montserrat';
}

body{
    font-family: 'Geologica';
    padding: 0;
    margin: 0;
}

main{
    margin-top: 6em; /* AJOUT → espace sous le header fixe */
}

a {
    color: black;
}

.bold {
    font-weight: bold;
}

section { 
    background-color: white;
}


/* ------------------ ME SECTION ------------------- */

#me {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
}

#me h1 {
    margin: 2em;
}

#me img {
    border-radius: 10em;
    max-width: 200px; /* AJOUT → évite l’image trop grande */
    width: 100%;
}


/* ------------------ PROJECTS ------------------- */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
}

.projects figure{
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects figure:hover{
    transform: scale(0.9);
}

.projects img {
    border-radius: 1em;
    width: 100%; 
    height: auto;
}


/* ------------------ PROJECT CARD ------------------- */

.project {
    border: #207d74 3px solid;
    border-radius: 1em;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto auto;
    transition: transform 0.3s ease-in-out;
    background-color: #207d7442;
    min-width: 250px;
}

.projectsCard {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
}

.project:hover{
    transform: scale(1.01);
    box-shadow: 0em 0em 0.5em 0.5em #207d74;
}

.project div img {
    width: 100%;
    border-bottom: #207d74 solid 0.01em;
    border-radius: 1em 1em 0 0;
}

.project .text {
    font-weight: bold;
    padding: 1em;
    text-align: left;
}

.project .skill{    
    margin: 0.5em;
}


/* ------------------ LEGEND & COMPETENCE ------------------- */

.skill {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.skill p {
    margin-left: 0.2em;
}

.legend, .competence {
    display: flex;
    flex-wrap: wrap;
}

.competence > *{
    margin: 1em;
}


/* ------------------ COLORS ------------------- */

.color-red{ background-color: #b60804;}
.color-orange{ background-color: #eb8d50;}
.color-yellow{ background-color: #efbb13;}
.color-green{ background-color: #8cc74f;}   
.color-blue{ background-color: #05215f;}
.color-black{ background-color: #0e0f0f;}


/* ------------------ TIMELINE & LOGOS ------------------- */

.timelineSVG {
    display: flex;
    justify-content: center;
}

#logoPACT, #logoSQL {
    margin-top: 1em;
}

#bac { fill: #94f7ee; }
#iut { fill: #40e0d0; }
#aprenticeship { fill: #207d74; }


/* ------------------ FONTS ------------------- */

@font-face {
  font-family: 'Montserrat-italic';
  src: url('polices/Roboto/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('polices/Roboto/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('polices/Geologica/Geologica-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


/* ------------------ MEDIA QUERIES ------------------- */

/* GRAND ÉCRAN */
@media (min-width: 1200px) {
    main > * {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* TABLETTES */
@media (max-width: 900px) {
    #me {
        justify-content: center;
        text-align: center;
    }

    main > * {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* SMARTPHONES */
@media (max-width: 600px) {
    main > * {
        margin-left: 5%;
        margin-right: 5%;
    }

    .projectsCard {
        grid-template-columns: repeat(2,1fr);
    }

    header {
        padding-bottom: 0.5em;
    }

    .menu a {
        font-size: 1.1em;
        margin: 0.2em;
    }

    #me h1 {
        margin: 1em;
        font-size: 1.4em;
    }
}
