header{
    background-color: #f1efef;
    padding: 0.1em;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}


body{
    font-family: 'Montserrat';
}

a {
    color: black;
}

.bold {
    font-weight: bold;
}

#me {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

#me img {
    border-radius: 20em;
}

.projects figure{
    transition: transform 0.3s ease-in-out;
}

.projects figure:hover{
    transform: scale(0.9);
}

#myImage{
    background-color: #207d74;
    border-radius: 15em;
    padding: 1em;
}

.projects {
    display: flex;
    position: relative;
    width: auto;
    margin: auto;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-self: center;
}

.projects figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.projects img {
    border-radius: 20em;
}

.timeline{
    margin: 2em;
}
#bac{
    fill: #94f7ee;
}

#iut{
    fill: #40e0d0;
}
#aprenticeship{
    fill: #207d74;
}

main{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.timelineSVG {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.project {
    border: #207d74 2px solid;
    border-radius: 1em;
    font-size: 1.2em;
    margin: 0.5em;
    padding: 0.8em;
    text-align: center;
    cursor: pointer;
}

.project .skill{    
    top:0;
    left: 0;
    margin: 0.5em;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-items: center;  
    margin: 0.1em;
}

.contact p {
    margin-left: 0.5em;
}

.skill {
    align-self: start;
    display: flex;
    flex-direction: row;    
    justify-items: center;
    align-items: center;
    margin-right: 1em;
    grid-column: 1;
}

.skill p {
    margin-left: 0.2em;
}

.color{
    width: 1em;
    height: 1em;
    margin: 0.2em;
    border-radius: 20em;
}

.color-red{ background-color: #b60804;}
.color-orange{ background-color: #eb8d50;}
.color-yellow{ background-color: #efbb13;}
.color-green{ background-color: #8cc74f;}   
.color-blue{ background-color: #05215f;}
.color-black{ background-color: #0e0f0f;}

.legend {
    display: flex;
    flex-direction: row;
}

@font-face {
  font-family: 'Montserrat-italic';
  src: url('polices/Roboto/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('polices/Roboto/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}