
.competence{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    justify-content: space-around;
}

#grand{
    text-align: center;
}

#moi{
    display: flex;
    flex-direction: row;

}

a:hover{
    background-color: #65b1e4;
    color: black;
}
a{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    font-size: 19px;
    padding-top: 60px ; /* Espace pour le menu fixe */
}

main{
    padding: 40px;
}
.projets {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* Styles de base pour le corps et le menu */
nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;

    width: 100%;
    background-color: #3f58c7;
    z-index: 1000; /* Assure que le menu reste au-dessus du contenu */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    text-align: center;
}

.submenu {
    list-style-type: none;
}

.menu > li {
    position: relative;
    float: left;
}

.menu > li {
    display: block;
    padding: 20px 20px;
}

.menu > li > a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.menu > li > a:hover {
    background-color: #65b1e4;
    color: white;
}

/* Styles pour le sous-menu */
.submenu {
    display: none;
    position: absolute;
    background-color: #3f58c7;
    min-width: 160px;
    z-index: 1;
}

.submenu > li > a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.submenu > li > a:hover {
    background-color: #65b1e4;
}

/* Afficher le sous-menu lorsque l'élément parent est survolé */
.menu > li:hover .submenu {
    display: block;
}

/* Réinitialiser le float */
.menu::after {
    content: "";
    display: table;
    clear: both;
}
