header{
    background-color: #f1efef;
    padding: 0.1em;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}


body{
    font-family: 'roboto_normal';
}

a {
    color: black;
}

#me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

#me img {
    border-radius: 20em;
}

.projects {
    display: flex;
    position: relative;
    width: auto;
    margin: auto;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-self: center;
}

.projects figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.projects img {
    border-radius: 20em;
}

.timeline{
    margin: 2em;
}
#bac{
    fill: #94f7ee;
}

#iut{
    fill: #40e0d0;
}
#aprenticeship{
    fill: #207d74;
}

main{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.timelineSVG {
    display: flex;
    align-items: center;
    justify-content: center;
}


@font-face {

    font-family: 'roboto';
    src: url('polices/Roboto/robotocondensed-bold-webfont.woff2') format('woff2'),
    url('polices/Roboto/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {

    font-family: 'roboto_normal';
    src: url('polices/Roboto/roboto-light-webfont.woff2') format('woff2'),
    url('polices/Roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

