header{
    background-color: #147068;
    margin-bottom: 20em;
    padding: 0.1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 2px 5px 0px #207d74;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}


.menu a:hover {
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

h1, h2, h3 {
    font-family: 'Montserrat';
}

body{
    font-family: 'Geologica';
    padding: 0;
    margin: 0;
    background-color: #ddedec;
}

footer {
    margin: 0.5em;
}

a {
    color: black;
}

.bold {
    font-weight: bold;
}

#me {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

#me h1{
    margin: 2em;
}

#me img {
    border-radius: 10em;
}

.projects figure{
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.projects figure:hover{
    transform: scale(0.9);
}

#myImage{
    background-color: #207d74;
    border-radius: 15em;
    padding: 1em;
    box-shadow: 0px 0px 12px #207d74;
}

.projects {
    display: flex;
    position: relative;
    width: auto;
    margin: auto;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-self: center;
}

.projects figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.projects img {
    border-radius: 1em;
}

#bac{
    fill: #94f7ee;
}

#iut{
    fill: #40e0d0;
}
#aprenticeship{
    fill: #207d74;
}

main{
    margin-top: 5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.timelineSVG {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsCard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.project {
    border: #207d74 3px solid;
    border-radius: 1em;
    font-size: 1.2em;
    margin: 0.5em;
    text-align: center;
    cursor: pointer;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    transition: transform 0.3s ease-in-out;
    background-color: #207d7442;
}

.project:hover{
    transform: scale(1.01);
    box-shadow: 0em 0em 0.5em 0.5em #207d74;
}

.project div img {
    border-bottom: #207d74 solid 0.01em;
    width: 100%;
    border-radius: 1em 1em 0 0 ;
}

.project .text {
    font-weight: bold;
    padding: 1em; 
    text-align: left;
}


.project .skill{    
    top:0;
    left: 0;
    margin: 0.5em;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-items: center;  
    margin: 0.1em;
}

.contact p {
    margin-left: 0.5em;
}

.skill {
    align-self: start;
    display: flex;
    flex-direction: row;    
    justify-items: center;
    align-items: center;
    margin-right: 1em;
    grid-column: 1;
}

.skill p {
    margin-left: 0.2em;
}


.color-red{ background-color: #b60804;}
.color-orange{ background-color: #eb8d50;}
.color-yellow{ background-color: #efbb13;}
.color-green{ background-color: #8cc74f;}   
.color-blue{ background-color: #05215f;}
.color-black{ background-color: #0e0f0f;}

.legend {
    display: flex;
    flex-direction: row;
}

.competence{
    display: flex;
    flex-direction: row;
}

.competence > *{
    margin: 1em;
}

.projectStep {
    font-size: 1.8em;
}

.projectStepText{
    margin-left: 0.5em;
}

#logoPACT{
    margin-top: 2em;
}

#logoSQL{
    margin-top: 1em;

}


.competenceTitle {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.competenceTitle p {
    margin-left: 0.2em;
}

@font-face {
  font-family: 'Montserrat-italic';
  src: url('polices/Roboto/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('polices/Roboto/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('polices/Geologica/Geologica-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}